
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="./static/css/styles.css">
</head>

<body>
    <div class="container">
        <div id="login-container">
            <h1>Welcome to DoorPeeper</h1>
            <p>Please log in</p>
            <div class = "buttoncontainer">
                <form action="" method="post">
                  <label for="uname">Username:</label>
                  <input type="text" placeholder="Enter Username" name="username" style="display: block;" required>

                  <label for="psw">Password:</label>
                  <input type="password" placeholder="Password" name="password" style="display: block;" required>

                  <button type="submit">Login</button>
                  <button type="button" onclick="window.location.href= '/signUp';">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
